.g-title {
  font-weight: bold;
}

.g-text {
  padding-bottom: 10px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

.tl {

}

.tc {
  text-align: center;
}

.title_home {
  margin-bottom: 20px;
}
